.app-container {
  width: 100%;
  max-width: none;
  font-family: 'DMSans';
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
/* Small devices (≥576px) */

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .app-container {
    max-width: 720px;
  }
}
/* Large devices (≥992px) */
@media (min-width: 992px) {
  .app-container {
    max-width: 960px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .app-container {
    max-width: 1140px;
  }
}
/* Extra extra large (≥1400px) */
@media (min-width: 1400px) {
  .app-container {
    max-width: 1320px;
  }
}
.locationData {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
